* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --btn-bg: #1ebfc1;
    padding: 14px 24px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 14px;
    background: var(--btn-bg);
    border: 1px solid var(--btn-bg);
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.text {
    font-weight: 400;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

/* ========== Header ========== */
.header {
    display: block;
    padding: 8px 0;
    min-width: 100vh;
    position: sticky;
    z-index: 20;
    top: -52px;
    left: 0;
    background: #fff;
}

.header-top {
    display: flex;
    align-items: center;
    padding-top: 52px;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    margin-left: 68px;
}

.navbar__link {
    padding: 4px 20px;
    color: #2f3a3b;
    font-weight: 400;
}

.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
}

.header__signin {
    color: #494949;
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
}

.header__signup {
    color: var(--btn-bg);
    background: transparent;
    margin-left: 24px;
    border-radius: 6px;
}

/* ========== Hero ========== */
.hero {
    display: flex;
    margin-top: 50px;
    padding-bottom: 79px;
}

.hero__sub-desc {
    margin-top: 93px;
    width: 192px;
    height: 21px;
}

.hero__heading {
    font-size: 6.2rem;
    line-height: 1.16129; /* 116.129% */
}

.hero__desc {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero__row .hero__btn {
    min-width: 186px;
    padding: 24px 0;
    font-size: 1.8rem;
}

.hero__play {
    margin-left: 50px;
    height: 62px;
    width: 62px;
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.hero__play--bg {
    background: #fff;
}

.hero__play--bg::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: 24px;
    left: 28px;
    border-top: calc(10px * 0.866) solid transparent;
    border-bottom: calc(10px * 0.866) solid transparent;

    border-left: 10px solid var(--primary-color);
}

/* Hero media */
.hero__media {
    background: #e0f7f6;
    position: relative;
}

.hero__img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

/* Hero courses */
.hero__courses {
    position: absolute;
    top: 149px;
    left: -40px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

/* Hero schedules */
.hero__schedules {
    position: absolute;
    left: -65px;
    top: 453px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero__schedules-heading {
    display: block;
    margin-top: 16px;
    color: #0d1111;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.hero__schedules-row {
    width: 74px;
    height: 6px;
    border-radius: 999px;
    margin: 0 auto;
    background: #edf1f5;
}

.hero__schedules-rate {
    border-radius: 999px;
    background: #fb9899;
}

.hero__schedules-rate--1st {
    margin-top: 16px;
    width: 51%;
    height: 6px;
}

.hero__schedules-rate--2nd {
    width: 70%;
    height: 6px;
    margin-top: 12px;
}

.hero__schedules-rate--3rd {
    width: 40%;
    height: 6px;
    margin-top: 10px;
}

.hero__schedules-row--small {
    margin-top: 16px;
    width: 26px;
}

/* Hero active */
.hero__active {
    position: absolute;
    top: 500px;
    left: 324px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero__active--heading {
    display: block;
    margin-top: 17px;
    text-align: center;
    color: #0d1111;
    font-size: 1.2rem;
    font-weight: 500;
}

.hero__active-avatars {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.hero__active-img--no-avatar,
.hero__active-img {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
}

.hero__active-img:not(:first-child) {
    margin-left: -7px;
}

.hero__active-img--no-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -7px;
    background: var(--primary-color);
}

.hero__active-img--numbers {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* ========== Feature ========== */
.feature {
    margin-top: 130px;
}

.feature__text {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.feature__heading {
    margin: 18px 0;
    width: 577px;
    color: #0d1111;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3333; /* 133.333% */
}

.feature__desc {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.feature__contact-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    margin-right: auto;
    margin-top: 80px;
    flex: 1;
}

.feature__iteam-img {
    width: 102px;
    height: 106px;
    object-fit: cover;
    border-radius: 16px;
}

.feature__item-heading {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature__item-desc {
    margin-top: 16px;
    width: 168px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6875; /* 168.75% */
}

/* =========== Courses ========== */
.courses {
    margin-top: 130px;
    padding-bottom: 120px;
}

.courses__text {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 4px;
}

.courses__heading {
    font-size: 4.2rem;
    margin-top: 18px;
}

.courses__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses__row-desc {
    width: 525px;
    margin-top: 19px;
    color: #767e7e;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.courses__row-link {
    color: var(--primary-color);
    text-decoration: underline;
    font-size: 1.4rem;
    font-weight: 700;
}

.courses__list {
    margin-top: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 47px;
}

.courses__item {
    position: relative;
    width: 100%;
}

.courses__item-img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.7;
}

.courses__body {
    position: absolute;
    top: 322px;
    left: calc((100% - 325px) / 2);
    padding: 18px 25px 29px;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses__body-heading {
    font-size: 2.2rem;
}

.courses__body-price {
    margin-top: 16px;
}

.courses__body-sub-price {
    color: #767e7e;
    font-size: 1.6rem;
}

.courses__body-money {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses__body-desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
}

.courses__body-class {
    margin-top: 18px;
    color: #9da6a5;
    font-size: 1.4rem;
}

.courses__body-dot {
    margin-right: 10px;
}

.courses__body-dot::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 50%;
    transform: translateY(-28%);
    background: var(--primary-color);
}

/* =============== Countdown ============== */
.countdown {
    width: 862px;
    margin: 265px auto 0;
}

.countdown__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countdown__info {
    height: 93px;
    line-height: 93px;
    display: block;
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.countdown__desc {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 27px;
}

/* =============== Feedback ============== */
.feedback {
    margin-top: 264px;
    height: 481px;
}

.feedback__list {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.feedback__open-quote {
    margin-top: 37px;
}

.feedback__quote {
    margin-top: 27px;
    width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.feedback__arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    margin-top: 52px;
    margin-bottom: 37px;
}

.feedback__arrow--right,
.feedback__arrow--left {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--primary-color);
    height: 50px;
    width: 50px;
    font-size: 2rem;
    color: #fff;
}

.feedback__authors {
    margin-top: 33px;
}

.feedback__authors::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
    margin-right: 5px;
}

.feedback__authors-name {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.feedback__authors-situation {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.feedback__avatar-img {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}

.feedback__avatar-img--large {
    top: 107px;
    right: 170px;
    height: 235px;
    width: 235px;
}

.feedback__avatar-img--medium {
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}

.feedback__avatar-img--small-1st,
.feedback__avatar-img--small-2nd,
.feedback__avatar-img--small-3rd,
.feedback__avatar-img--small-4th {
    height: 78px;
    width: 78px;
}

.feedback__avatar-img--small-1st {
    top: 0;
    right: 444px;
}

.feedback__avatar-img--small-2nd {
    top: 257px;
    right: 537px;
}

.feedback__avatar-img--small-3rd {
    top: calc(100% - 78px);
    right: 388px;
}

.feedback__avatar-img--small-4th {
    bottom: 90px;
    right: 90px;
}

/* ============== Actions ==================*/
.account {
    background: #def6f5;
    margin-top: 130px;
}

.account__body {
    display: flex;
    align-items: center;
    padding: 76px 0 88px;
}

.account__heading {
    color: #070707;
    font-size: 4.2rem;
}

.account__desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.account__btn {
    min-width: 186px;
    margin-left: 410px;
    padding: 24px 24px;
}

/* =============== Footer ============== */
.footer {
    padding-top: 130px;
    padding-bottom: 50px;
}

.footer__row {
    display: flex;
}

.footer__right {
    margin-left: 144px;
    display: flex;
    justify-content: space-between;
    width: 69%;
}

.footer__title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer__item {
    margin-top: 20px;
}

.footer__icon {
    height: 20px;
    width: 20px;
    margin-right: 9px;
}

.footer__link {
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer__coppyright {
    margin-top: 80px;
    text-align: center;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
}
